
.ufile_app {
    width: 100%;
    height: 100%;
    position: relative;

    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;

    button {
        cursor: pointer;
        border: none;
    }
    .ufile_buttons {
        width: calc(100% - 104px);
        margin-left: 50px;
        margin-bottom: 1px;
        height: 50px;
        background: #0f1623;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        position: relative;
        button {
            width: fit-content;
            padding-inline: 10px;
            height: 40px;
            margin-right: 5px;
            background: #3446eb;
            color: white;
        }
        .ufile_search {
            position: absolute;
            top: 5px;
            left: 5px;
            height: 40px;
            display: flex;
            align-items: center;
            gap: 5px;
            input {
                height: 38px;
                width: 300px;
                border: none;
                background: #1b283f;
                color: white;
                &:focus {
                    outline: 1px solid #2e456a;
                }
            }

        }
    }
}

.ufile_side_buttons {
    position: fixed;
    right: 0;
    top: 50%;
    width: 50px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 2px;

    button {
        height: 40px;
        background: #3446eb;
        transition: background 0.5s ease-in-out;
        color: white;
        &:hover {
            background: #1b283f;
        }
    }
}

.ufile_header {
    width: calc(100% - 104px);
    margin-left: 50px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    h1 {
        font-size: 2.5rem;
    }
    input {
        display: none;
    }
    .custom-file-upload {
        border: 1px solid #ccc;
        display: inline-block;
        padding: 6px 12px;
        cursor: pointer;
        margin-bottom: 10px;
    }
}


.ufile_table_entity {
    height: fit-content;
    width: calc(100% - 104px);
    margin-left: 50px;
    &:last-child {
        margin-bottom: 20px;
    }

    header {
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        background:#1b283f;
        color: white;
        border-bottom: 1px solid #0c111c;
        p {
            font-size: 1.1rem;
            font-weight: 500;
            margin-left: 10px;
        }
        button {
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #3446eb;
            color: white;
            margin-left: 5px;
        }
    }
}

.ufile_table_component {
    display: flex;
    width: 100%;
    height: fit-content;
    overflow-x: auto;
    margin-bottom: 1px;
    &::-webkit-scrollbar {
        height: 10px;
    }
    &::-webkit-scrollbar-thumb {
        background: #3446eb;
    }
    &::-webkit-scrollbar-track {
        background: #0f1623;
    }
    .ufile_table_col {
        min-width: 120px;
        width: fit-content;
        flex-shrink: 0;
        border-right: 1px solid #0c111c;

        .ufile_table_legend_field {
            width: 100%;
            height: 28px;
            background: #2e456a;
            color: white;
            display: flex;
            align-items: center;
            border-right: 1px solid #0c111c;
            border-bottom: 1px solid #0c111c;
            p {
                margin-left: 10px;
            }
        }
        .ufile_table_data {
            width: 100%;
            height: fit-content;
            .ufile_table_data_row {
                width: 100%;
                border-bottom: 1px solid #0c111c;
                background: #1b283f;
                color: white;
                height: 30px;
                display: flex;
                align-items: center;
                &:nth-child(even) {
                    input {
                        background: #1c2844;
                    }
                    select {
                        background: #1c2844;
                    }
                }
                &:last-child {
                    border-bottom: 0;
                }
                input {
                    border: none;
                    color: white;
                    background: #151f31;
                    height: calc(100% - 2px);
                    &:focus {
                        background: #3143dc;
                        outline: none;
                    }
                }
                select {
                    border: none;
                    color: white;
                    background: #151f31;
                    height: calc(100% - 2px);
                    width: 100%;
                    &:focus {
                        outline: none;
                    }
                }
            }
        }
    }
}